
.AllergensPage-FormContainer {
    display: flex;
    width: 100%;
    min-height: 0;
}

.AllergensPage-AllergensPanel {
    margin-bottom: 15px;
}

.AllergensPage-Form {
    width: 285px;
}

.AllergensPage-Form > * {
    width: 100%;
}

.AllergensPage-Form .AllergensPage-Input {
    margin-bottom: 10px;
}

.AllergensPage-Table .p-column-title {
    white-space: nowrap;
}
