
.ClientsPage-Form {
    display: flex;
    width: 100%;
    min-height: 0;
    flex-grow: 1;
}

.ClientsPage-Form > * {
    flex-grow: 1;
    flex-basis: 0;
}

.ClientsPage-Form .ClientsPage-Input {
    margin-right: 10px;
}

.ClientsPage-Table .p-column-title {
    white-space: nowrap;
}
