
.BreedsPage-FormContainer {
    display: flex;
    width: 100%;
    min-height: 0;
}

.BreedsPage-Form {
    display: flex;
    min-height: 0;
    flex-grow: 1;
}

.BreedsPage-Form > * {
    flex-grow: 1;
    flex-basis: 1px;
}

.BreedsPage-Form .BreedsPage-Input {
    margin-right: 10px;
}

.BreedsPage-Table .p-column-title {
    white-space: nowrap;
}
