
.BreedsPage-FormContainer {
    display: flex;
    width: 100%;
    min-height: 0;
    padding-left: 30px;
}

.BreedsPage-Form {
    display: flex;
}

.BreedsPage-Form > * {
    width: 240px;
}

.BreedsPage-Form .BreedsPage-Input {
    margin-right: 10px;

}

.BreedsPage-Table .p-column-title {
    white-space: nowrap;
}
