
.FormTablePanel {
    display: flex;
    min-height: 0;
    flex-grow: 1;
}

.FormTablePanel-FormContainer {
    display: flow-root;
    align-items: center;
    width: 285px;
    min-width: 285px;
    min-height: 0;
    margin: 0 50px 0 0;
}

.FormTablePanel-TableContainer {
    flex-grow: 1;
}
